* {
  padding: 0;
  margin: 0;
}

.heading {
  padding-bottom: 30px;
  color: #565457;
}

.heading h2 {
  font-weight: normal;
  border-bottom: 1px solid #ff0000;
  text-align: center;
}

.menus {
  display: flex;
  justify-content: space-around;
}


section {
  margin: 3rem auto;
  max-width: 80vw;
}
  
.menu-icon {
  position: relative;
}
  
.menu-icon p {
  top: 90px;
  width: 100%;
  color: #565457;
  text-align: center;
  font-weight: normal;
}

.heading2 {
  padding-top: 4rem;
  padding-bottom: 30px;
  color: #575454;
  width: 100%;
}

.heading2 h2 {
  font-weight: normal;
  border-bottom: 1px solid #ff0000;
  text-align: center;
}

.chef-icon {
  position: relative;
}

.chef-icon p {
  top: 90px;
  width: 100%;
  color: #565457;
  text-align: center;
  font-weight: normal;
}

footer {
  bottom: 0;
}

.about{
  padding-bottom: 400px;
  padding-left: 10px;
  padding-right: 10px;
  color: #575454;
}

.about h3 {
  padding-top: 10px;
}

.title{
  text-align: center;
  color: #565457;
  font-weight: normal;
  border-bottom: 1px solid #ff0000;
}

.content-item img{
  float: right;
  width: 49%;
}

.content-item p{
  padding-top: 20px;
  float: left;
  width: 49%;
  text-align: justify;
  color: color: rgb(0, 0, 0);
}